input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.25rem;
}

body {
  font-family: 'Sarabun', sans-serif;
}

#container {
  border: 2px double orange;
  padding: 25px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 3px red, 8px 8px 3px rgba(128, 128, 128, 0.406);

}

.text {
  padding: 25px;
  border-radius: 5px;
  color: darkslategray;
  text-align: center;
  text-shadow: 3px 3px 5px lightblue;
}

h1 {
  text-shadow: 1px 1px 5px grey;
  font-size: 100px;
  color: darkslategray;
  text-align: center;
  margin: 10px;
}

h3 {
  text-align: center;
  font-size: 35px;
}

p {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
}

main{
  margin-bottom: 4%;
}

.p-text{
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 100px;
  text-align: center;
  font-size: 30px;
}

legend {
  font-weight: bold;
  margin-left: 20px;
  color: brown;
  text-shadow: 1px 1px 5px rgba(163, 121, 121, 0.469);
}

ul {
  list-style: none;
  padding: 0;
}

label:hover {
  cursor: pointer;
}

li {
  display: inline-block;
  padding: 0.5rem;
}

.group {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  padding: 0.125rem;
}

.title {
  color: aliceblue;
}

label {
  margin: 0 auto;
  text-align: center;
}

#top {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 3px;
  background-color: brown;
}

#bottom {
  width: 100%;
  height: 5px;
  background-color: aliceblue;

}

.checkbox {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
}

.body-type {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-inline {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 45px;
  margin-left: 100px;


}

.card {
  box-shadow: 3px 3px 3px darkslategray;
  cursor: pointer;
}

.card-text {
  display: flex;
  justify-content: center;
  color: darkslategray;
  text-align: center;
}

footer {
  width: 100%;
  height: 100%;
  color: aliceblue;
  text-align: center;
}